In [1]:
"""
Uses cosine similarity.
Filters only books where at least 100 reviews are present.
Only where reviewers have given at least 200 reviews.
"""


import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
books_df = pd.read_csv("../data/Books.csv")
users_df = pd.read_csv("../data/Users.csv")
ratings_df = pd.read_csv("../data/ratings.csv")

C:\Users\NelsonWang\AppData\Local\Temp\ipykernel_13096\3971019450.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("../data/Books.csv")

In [3]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
# Clean up
# 1. Find the user ID of those who have rater either too few books (<5) and too many books (>200)
# 2. Remove those users from the ratings_df

valid_transaction_df = ratings_df.groupby('User-ID').filter(lambda x: len(x) > 5 and len(x) < 200)
valid_transaction_df.groupby('User-ID').size().sort_values(ascending=False)

User-ID
240403    199
203017    199
193458    199
2033      198
267061    198
         ...
95420       6
95156       6
231313      6
95146       6
233397      6
Length: 18812, dtype: int64

In [5]:
ratings_with_book_titles = ratings_df.merge(books_df,on='ISBN')
ratings_with_book_titles.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [6]:
ratings_with_book_titles.drop(columns=["ISBN","Image-URL-S","Image-URL-M"],axis=1,inplace=True)

In [7]:
complete_df = ratings_with_book_titles.merge(users_df.drop("Age", axis=1), on="User-ID")
complete_df.head()

,User-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location
0,276725,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"tyler, texas, usa"
1,2313,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"cincinnati, ohio, usa"
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...,"cincinnati, ohio, usa"
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,http://images.amazon.com/images/P/0679745580.0...,"cincinnati, ohio, usa"
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,"cincinnati, ohio, usa"

In [8]:
complete_df['Location'] = complete_df['Location'].str.split(',').str[-1].str.strip()
complete_df.head()

,User-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location
0,276725,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,usa
1,2313,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,usa
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...,usa
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,http://images.amazon.com/images/P/0679745580.0...,usa
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,usa

In [9]:
min_user_reviewers = 200
user_ratings = complete_df.groupby('User-ID').count()
filtered_users = user_ratings[user_ratings > min_user_reviewers].index
complete_df = complete_df[complete_df['User-ID'].isin(filtered_users)]

In [10]:
min_ratings_count_threshold=100
rating_counts= complete_df.groupby('Book-Title').count()['Book-Rating']
popular_books = rating_counts[rating_counts >= min_ratings_count_threshold].index

In [11]:
final_ratings =  complete_df[complete_df['Book-Title'].isin(popular_books)]
print(f"Number of ratings: {len(final_ratings)}")
final_ratings.head()

Number of ratings: 183799

,User-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Location
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...,usa
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,usa
6,2313,5,The Bonesetter's Daughter,Amy Tan,2001,Putnam Publishing Group,http://images.amazon.com/images/P/0399146431.0...,usa
7,2313,9,The Princess Bride: S Morgenstern's Classic Ta...,WILLIAM GOLDMAN,1987,Del Rey,http://images.amazon.com/images/P/0345348036.0...,usa
9,2313,0,The Sparrow,MARY DORIA RUSSELL,1997,Fawcett Books,http://images.amazon.com/images/P/0449912558.0...,usa

In [12]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID'
                          ,values='Book-Rating')
pt.head()

User-ID,8,9,14,16,17,26,32,39,42,44,...,278819,278820,278824,278828,278832,278836,278843,278844,278846,278854
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
pt.fillna(0,inplace=True)
pt

User-ID,8,9,14,16,17,26,32,39,42,44,...,278819,278820,278824,278828,278832,278836,278843,278844,278846,278854
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
import pandas as pd
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from surprise import accuracy

# Define the rating scale
reader = Reader(rating_scale=(0, 10))

# Load the data into Surprise's dataset format
data = Dataset.load_from_df(complete_df[['User-ID', 'Book-Title', 'Book-Rating']], reader)

# Split the dataset into training and testing sets
train_set, test_set = train_test_split(data, test_size=0.20, random_state=42)

# Define the SVD algorithm
model = SVD()

# Train the algorithm on the training set
model.fit(train_set)

# Make predictions on the test set
predictions = model.test(test_set)

# Evaluate the model
accuracy.rmse(predictions)

RMSE: 3.5208

3.5208088777408277

In [15]:
def recommend_books(user_id, n=10):
    # List all unique book titles
    all_books = complete_df['Book-Title'].unique()

    # Remove books already rated by the user
    rated_books = complete_df[complete_df['User-ID'] == user_id]['Book-Title'].values
    books_to_predict = [book for book in all_books if book not in rated_books]

    # Predict ratings for remaining books
    predictions = []
    for book in books_to_predict:
        pred = model.predict(user_id, book)
        predictions.append((book, pred.est))

    # Sort predictions by estimated rating
    predictions.sort(key=lambda x: x[1], reverse=True)

    # Get top N recommendations
    top_n = predictions[:n]

    return top_n

In [16]:
user_id = 271705
recommended_books = recommend_books(user_id)
print(f"Top 10 recommended books for user {user_id}:")
for i, (title, _) in enumerate(recommended_books, start=1):
    print(f"{i}. {title}")

Top 10 recommended books for user 271705:
1. Ahab's Wife: Or, The Star-Gazer: A Novel
2. The Color of Magic
3. The Dive From Clausen's Pier (Alex Awards)
4. Q Is for Quarry
5. The Honk and Holler Opening Soon
6. Night Sins
7. A Prayer for Owen Meany
8. Loves Music, Loves to Dance
9. Nickel and Dimed: On (Not) Getting By in America
10. Stupid White Men ...and Other Sorry Excuses for the State of the Nation!

In [17]:
def get_user_history(user_id):
    return complete_df[complete_df['User-ID'] == user_id]['Book-Title'].values

In [18]:
get_user_history(user_id)

array(['A Wrinkle In Time',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       "One Flew over the Cuckoo's Nest (Penguin Classics)",
       'The Da Vinci Code', 'The Joy Luck Club',
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'To Kill a Mockingbird',
       'Reading Lolita in Tehran: A Memoir in Books',
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'Girl in Hyacinth Blue', 'While I Was Gone',
       'Girl with a Pearl Earring', 'Chocolat',
       'As mulheres deviam vir com livro de instruÃ§Ãµes (Campo da literatura)',
       'Little Altars Everywhere: A Novel',
       'The Red Tent (Bestselling Backlist)', 'A Walk to Remember',
       'Bel Canto: A Novel', 'Oliver Twist (Penguin Classics)',
       'The Secret Life of Bees', 'Lucky : A Memoir',
       "White Oleander : A Novel (Oprah's Book Club)",
       "The Dress Lodger (Ballantine Reader's Circle)",
       'Middlesex: A Novel',
       'The Picture of Dorian Gray (Modern Library (Paperback))',
       'Lord of the Flies', 'Behind the Scenes at the Museum',
       'Angels &amp; Demons',
       'Balzac and the Little Chinese Seamstress : A Novel', 'Stonehenge',
       'Bianca: A Novel of Venice (Elegant, Robert S. Venetian Chronicles, Bk. 1.)',
       'Good in Bed', "The Handmaid's Tale", 'Rebecca',
       'Roll of Thunder, Hear My Cry', 'Tis: A Memoir', 'Big Fish',
       'Scarlet Feather', 'Red Dragon', 'Tuck Everlasting',
       'The Bridges of Madison County', 'Five Quarters of the Orange',
       'Tara Road', 'Cause Celeb', 'Alias Grace : A Novel', '1984',
       'And Then There Were None : A Novel', 'Coastliners : A Novel',
       'Amsterdam : A Novel', 'The Water Is Wide', 'A Passage to India',
       'Lion, the Witch and the Wardrobe', 'The Lions of Al-Rassan',
       'Of Mice and Men (Penguin Great Books of the 20th Century)',
       'Coming Home',
       "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
       'Message in a Bottle', 'In Her Shoes : A Novel', 'The Glass Lake',
       "Bridget Jones's Diary", 'The Cider House Rules',
       'A Map of the World', 'Life of Pi',
       'Bridget Jones: The Edge of Reason',
       'Mansfield Park (Penguin Popular Classics)',
       'The Winter King: A Novel of Arthur (The Warlord Chronicles: I)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)', 'About a boy',
       'Jonathan Livingston Seagull',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'The Nanny Diaries: A Novel',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       "The Girls' Guide to Hunting and Fishing",
       "The Time Traveler's Wife",
       'Sense and Sensibility (Penguin Popular Classics)',
       'Welcome to the World, Baby Girl!',
       'Scottish Folk and Fairy Tales (Penguin Popular Classics)',
       'Emma (Penguin Popular Classics)',
       'The Skystone (Whyte, Jack. Camulod Chronicles, Bk. 1.)',
       'Bridge to Terabithia', 'Round Ireland With a Fridge',
       'The Island of the Day Before', 'The Prophet', 'Blackberry Wine',
       'The Subtle Knife (His Dark Materials, Book 2)',
       'The Satanic Verses', 'Breath, Eyes, Memory', 'Charlotte Gray',
       'The Name of the Rose: including Postscript to the Name of the Rose',
       'Jemima J: A Novel About Ugly Ducklings and Swans',
       'Lullaby: A Novel', 'Lady of Avalon', 'The Eight',
       'The Meeting of the Waters (Book One of The Watchers)',
       'Celtic Borders', 'Bookends : A Novel',
       "Alice's Adventures in Wonderland (Penguin Popular Classics)",
       'Here Be Dragons',
       'Stranger in a Strange Land (Remembering Tomorrow)',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Deadly Decisions',
       'The Golden Compass (His Dark Materials, Book 1)',
       'Lucy Sullivan Is Getting Married',
       'Perfume: The Story of a Murderer (Vintage International)',
       'Generation X: Tales for an Accelerated Culture', 'The Beach',
       "There's No Toilet Paper on the Road Less Traveled: The Best of Travel Humor and Misadventure (Travelers' Tales Guides)",
       'On the Road', 'Beloved',
       'To the Lighthouse (Penguin Popular Classics)',
       'Persuasion (Modern Library Classics)',
       'Wild Swans: Three Daughters of China',
       'Fried Green Tomatoes at the Whistle Stop Cafe',
       'Baltasar and Blimunda', 'The Club Dumas: A Novel',
       'The Hundred Secret Senses',
       'Biblioholism: The Literary Addiction',
       'Lady Susan ; The Watsons ; Sanditon (Penguin English Library)',
       'Ivanhoe (Penguin Popular Classics)',
       'Wuthering Heights (Wordsworth Classics)',
       'The Story of a Shipwrecked Sailor',
       'Channeling Biker Bob: Heart of a Warrior',
       'The Summer Tree (The Fionavar Tapestry, Book 1)',
       'Cheaper by the Dozen', 'Eva Moves the Furniture: A Novel',
       'Little Women (Illustrated Junior Library)', 'Rhaeva',
       'My Name Is Asher Lev', 'Anne of the Island',
       'The Last Kabbalist of Lisbon',
       'Turn of the Screw (Dover Thrift Editions)',
       'A Room With a View (Classic)', 'Jane Eyre (Penguin Classics)',
       'Pride and Prejudice (Penguin Classics)',
       'The Lady and the Unicorn',
       'The Dragonlance Chronicles/Dragons of Autumn Twilight/Dragons of Winter Night/Dragons of Spring Dawning (Collectors Edition)',
       'Tu Sexo Es Tuyo', 'The Virgin in the Garden', 'Paula',
       'Sink Reflections',
       "Gulliver's Travels (Penguin Popular Classics)", 'Angels',
       'Boy Meets Girl', 'El amor en los tiempos del cÃ³lera',
       "A Prayer for Owen Meany (Ballantine Reader's Circle)",
       'Como Agua Para Chocolate/Like Water for Chocolate', 'Baby',
       'Plays by George Bernard Shaw',
       'Northanger Abbey (Wordsworth Collection)', 'El hombre duplicado',
       'A Portrait of the Artist as a Young Man (Penguin Popular Classics)',
       'Jane Austen (Penguin Lives)',
       '\\The Happy Prince\\" and Other Stories (Penguin Popular Classics)"',
       'The Royal Game &amp; Other Stories',
       'Selected Tales (Penguin Popular Classics)',
       'Tess of the Durbervilles', 'Bone People',
       'Blindness (Harvest Book)', 'Noticia de un secuestro',
       'The Old Man Who Read Love Stories',
       'Scottish Folk and Fairy Tales', 'Out of Africa (Modern Library)',
       'The Portrait of a Lady (Penguin Classics)', 'The Love Letter',
       'Far from the Madding Crowd', 'A Small Death in Lisbon',
       "Crossing to Avalon: A Woman's Midlife Pilgrimage",
       'Pride and Prejudice (Penguin Classics)',
       'Shirley (Penguin English Library)', 'Casanova in Love',
       'The Red Notebook: True Stories', 'The Cave', 'The Borrowers',
       'Anne of Green Gables', 'Persuasion (Penguin Classics)',
       "Tom Jones (Oxford World's Classics)", 'The Master and Margarita',
       'Pat of Silver Bush', 'Hawk of May', 'The Map of Love', 'Tigana',
       'Nuremberg: Infamy on Trial',
       'Daughter of the Forest (The Sevenwaters Trilogy)',
       'Rilla of Ingleside (Anne of Green Gables Novels (Paperback))',
       "Cleveland Amory's Compleat Cat: The Cat Who Came for Christmas : The Cat and the Curmudgeon, the Best Cat Ever",
       "Don't Roll Your Eyes At Me, Young Man!  A Zits Sketchbook 3",
       "The Clan of the Cave Bear (Earth's Children)",
       'Crossing to Safety (Modern Library Classics)',
       'Within the Plantation Household: Black and White Women of the Old South (Gender and American Culture)',
       'Letters from Pemberley the First Year',
       "Howard's End (Dover Thrift Editions)",
       'The Wandering Fire (The Fionavar Tapestry, Book 2)',
       'The Wind in the Willows (Wordsworth Collection)',
       'The Hunchback of Notre Dame', 'Tan Veloz Como El Deseo',
       'Middlemarch (Penguin Popular Classics)', 'High Fidelity Uk',
       'Magus', 'Heart of Darkness',
       'Child of the Prophecy : Book Three of the Sevenwaters Trilogy (The Sevenwaters Trilogy)',
       'Songs for the Open Road : Poems of Travel and Adventure (Dover Thrift Editions)',
       "The King Amaz'D: A Chronicle (Everyman's Library (Paper))",
       'Son of the Shadows (The Sevenwaters Trilogy)',
       'Memorial Del Convento',
       'Moon and Sixpence (Penguin Twentieth-Century Classics)',
       'Washington Square',
       'The Alexandria Quartet: Justine/Balthazar/Mountolive/Clea/Boxed Set',
       'To a God Unknown (Twentieth Century Classics Series)',
       'No Hidden Meanings: An Illustrated Eschatological Laundry List',
       'The Tin Drum (Vintage International)', 'Salamander',
       'Great Speeches by Native Americans (Dover Thrift Editions)',
       'Rob Roy (Penguin Classics)', 'Once in a House on Fire',
       'The Darkest Road (The Fionavar Tapestry, Book 3)',
       'Vanity Fair (Penguin Classics)', 'D Is For Dog',
       'El Otono Del Patriarca/Autumn of Patriarch',
       'Sons and Lovers (Penguin Popular Classics)',
       'Yesterday in the Back Lane', 'The Dormant Beast',
       "The Adventures of Sherlock Holmes (Oxford World's Classics)",
       'Manufacturing Consent: The Political Economy of the Mass Media',
       "Belinda (Oxford World's Classics (Paperback))",
       'Cien Anos de Soledad / One Hundred Years of Solitude',
       'Blade of Tyshalle', 'Heidi (Penguin Popular Classics)',
       "The Sense and Sensibility Screenplay &amp; Diaries: Bringing Jane Austen's Novel to Film (Newmarket Pictorial Moviebooks (Paperback))",
       'The Secret Garden (Penguin Twentieth-Century Classics)',
       'Latitudes of Melt',
       "The Communist Manifesto (Oxford World's Classics)",
       'Oscar Wilde Quotations', 'The Hunchback of Notre Dame',
       'Russian Fairy Tales (Pantheon Fairy Tale and Folklore Library)',
       'Practical Ethics',
       'The Drucker Foundation : The Community of the Future (J-B Drucker Foundation Series)',
       'A Little Princess (Penguin Classics)',
       'A Thousand Acres : A Novel', 'Tieta (The Americas)',
       'The Fall of Atlantis', 'The Name of a Bullfighter',
       "A Journey from This World to the Next: The Journal of a Voyage to Lisbon (World's Classics)",
       'Marketing Management for Nonprofit Organizations',
       'The Serbs: History, Myth and the Destruction of Yugoslavia',
       'Journey to the River Sea',
       'Communication for Development in the Third World: Theory and Practice for Empowerment',
       'Kamasutra',
       'Marketing Social Change : Changing Behavior to Promote Health, Social Development, and the Environment (Jossey Bass Nonprofit &amp; Public Management Series)',
       'Pedagogy of Freedom: Ethics, Democracy, and Civic Courage (Critical Perspectives Series)',
       "Newcomer's Handbook for Atlanta",
       'Second Moon (Keepers of the Maser Series, Volume 1)',
       'Isle of Dwarves (Keepers of the Maser Series Volume 2)',
       'Eye of the Sea (Keepers of the Maser Series Volume 3)',
       'Os comedores de pÃ©rolas (Finisterra)',
       'InÃªs de Portugal (Pequenos prazeres)',
       "I'll Let You Go: A Novel", 'Fahrenheit 451'], dtype=object)

In [22]:

def explore_user(user_id):
    print(get_user_history(user_id))
    print("===== Recommendations ========")
    recommended_books = recommend_books(user_id)
    print(f"Top 10 recommended books for user {user_id}:")
    for i, (title, _) in enumerate(recommended_books, start=1):
        print(f"{i}. {title}")

In [23]:
user_id=276808
explore_user(user_id)

['Richard Brautigan : A Confederate General from Big Sur, Dreaming of Babylon, and the Hawkline Monster (Three Books in the Manner of Their Original ed)']
===== Recommendations ========
Top 10 recommended books for user 276808:
1. Free
2. The Little Prince
3. A Light in the Attic
4. The Curious Incident of the Dog in the Night-Time (Vintage Contemporaries)
5. The Phantom Tollbooth
6. Interpreter of Maladies
7. Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson
8. BAG OF BONES : A NOVEL
9. Falling Up
10. Anne Frank: The Diary of a Young Girl

In [24]:
user_ids = [276822, 276847, 276856]
for user_id in user_ids:
    explore_user(user_id)
    print("====================================="*2)

['The Boy Next Door' 'Skin and Other Stories (Now in Speak!)'
 'Growing Wings' 'The Riddle of Scheherazade: And Other Amazing Puzzles'
 'Hoot (Newbery Honor Book)'
 "A Kid's Guide to How to Save the Planet (Camelot world)"
 'The Last Book in the Universe' 'The Contest' 'A String in the Harp'
 'The Sandy Bottom Orchestra' 'Artemis Fowl (Artemis Fowl, Book 1)'
 'The Number Devil: A Mathematical Adventure' 'Surviving Sam'
 'Random Acts of Kindness']
===== Recommendations ========
Top 10 recommended books for user 276822:
1. A Prayer for Owen Meany
2. Harry Potter and the Sorcerer's Stone (Book 1)
3. Seabiscuit: An American Legend
4. Free
5. Falling Up
6. The Secret Life of Bees
7. YESTERDAY, I CRIED : Celebrating the Lessons of Living and Loving
8. Interpreter of Maladies
9. The Jungle (Bantam Classics)
10. Wicked: The Life and Times of the Wicked Witch of the West
=====================================
['Along Came a Spider (Alex Cross Novels)' 'Schlafes Bruder'
 'Der Stein der Kelten.' 'Nordermoor' 'Nur der Tod ist ohne Makel.'
 'Der Kleine Hobbit'
 'Die Benachteiligung erfolgt durch die Post. StilblÃ?Â¼ten aus Inseraten und Pressenotizen.'
 'Lieber Sport als Mord.' 'Gratsch.' 'Das geheime ABC der Toten.'
 'Hitlers Kinder.' 'Auf Ehre und Gewissen. Roman.'
 'Keiner werfe den ersten Stein. Roman.' 'Denn keiner ist ohne Schuld.'
 'Asche zu Asche.' 'Im Angesicht des Feindes.'
 'Reif fÃ?Â¼r die Insel. England fÃ?Â¼r AnfÃ?Â¤nger und Fortgeschrittene.'
 'Denn sie betrÃ?Â¼gt man nicht.' 'Mit dem KÃ?Â¼hlschrank durch Irland.'
 'Die HirnkÃ?Â¶nigin.' 'Undank ist der VÃ?Â¤ter Lohn.'
 'Der Goldene Kompass / The Golden Compass' 'Auf dÃ?Â¼nnem Eis.'
 'Die Welle' 'Der UnterhÃ?Â¤ndler.'
 'Inspektor Jury kÃ?Â¼Ã?Â?t die Muse. Roman.' 'Im Keller.'
 'Alte Freunde, neue Feinde. Ein Fall fÃ?Â¼r Bernhard Gunther.'
 'Der Tag X.' 'Tod im weiÃ?Â?en HÃ?Â¤ubchen.'
 'Inspektor Jury bricht das Eis. Roman.' 'Goldmann: Feuer in Berlin'
 'Le Petit Prince. (FranzÃ?Â¶sische Ausgabe). (Lernmaterialien)' 'Rand.'
 'Harry Potter und der Stein der Weisen'
 'Harry Potter und die Kammer des Schreckens'
 'Harry Potter und der Gefangene von Azkaban'
 'Harry Potter Und Der Feuerkelch' 'Saemtliche Erzaehlungen'
 'Der Herr der Ringe. AnhÃ?Â¤nge und Register.' 'Die Gefahrten I'
 'Die Zwei Turme II' 'Die Wiederkehr Des Konigs III'
 'Der Sterne TennisbÃ?Â¤lle.' 'Ungarn.' 'Die Chirurgin.'
 'Das bizarre Sexualleben der Tiere. Ein populÃ?Â¤res Lexikon von Aal bis Zebra.']
===== Recommendations ========
Top 10 recommended books for user 276847:
1. The Da Vinci Code
2. Interview with the Vampire
3. Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)
4. Nights in Rodanthe
5. The Golden Compass (His Dark Materials, Book 1)
6. Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies
7. The Valley of Horses
8. Angela's Ashes (MMP) : A Memoir
9. The Little Prince
10. Jewel
=====================================
['La Citadelle Du Vertige' 'Les Six Compagnons Ã?Â\xa0 Scotland Yard'
 'Mon bel oranger' "L'Appel de la forÃ?Âªt" 'Un Bon Petit Diable'
 'Les derniers gÃ?Â©ants' "Iznogoud, tome 2 : Les complots d'Iznogoud"
 'Le Grand Meaulnes (Classiques De Poche)'
 "Percevan, tome 1 : Les Trois Etoiles d'Ingaar"
 "Les Tuniques bleues, tome 1 : un chariot dans l'ouest"
 "BD Pirate : Cupidon, tome 2 : Philtre d'amour"
 'BD Pirate : Cupidon, tome 3 : Baiser de feu'
 'LÃ?Â©onard, tome 1 : LÃ?Â©onard est un gÃ?Â©nie']
===== Recommendations ========
Top 10 recommended books for user 276856:
1. Free
2. Harry Potter and the Sorcerer's Stone (Book 1)
3. Falling Up
4. Ender's Game (Ender Wiggins Saga (Paperback))
5. The Green Mile
6. The Little Prince
7. Der Kleine Hobbit
8. Nickel and Dimed: On (Not) Getting By in America
9. Welcome to the World, Baby Girl! : A Novel
10. Harry Potter y el cÃ¡liz de fuego
=====================================